html { font-size: 62.5%;} 
body {
	margin: auto;
	font-size: 2rem;
	background-color: #ECF3FF;
}
/* 调试 */
@media screen and (min-width: 800px) {
	body {
		border: 0.1rem solid #0087A0;
		padding: 1rem;
	}
}
.block {
	padding: 1rem 0rem;
}
.selected {
	border: 0.3rem solid #FFAA84;
}
.select-sex img {
	height: 8rem;
	width: 8rem;
}

.title {
	color: #00781E;
	font-weight: bold;
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 0.4rem;
}
.count {
	font-size: 3rem;
	font-weight: bold;
	color: #C01E00;
}
.copyright {
	margin: 1rem 0.4rem;
	padding: 1rem 0.4rem;
	color: #686868;
	font-weight: bold;
	font-style: italic;
}