html { font-size: 62.5%;} 
body {
	width: 300px;
	margin: auto;
	font-size: 1.6rem;
}
/* ต๗สิ */
@media screen and (min-width: 800px) {
	body {
		border: 1px solid #0087A0;
		padding: 10px;
		min-height: 500px;
	}
}
input {
	border: 2px solid #0087A0;
	clear: both;
	padding: 4px;
}
button {
	font-size: 1.8rem;
	font-weight: bold;
	background-color: #0087BC;
	color: white;
	border-radius: 6px;
	border: 2px solid #FFCAB8;
}
#send-message, #chat {
	display: none;
}
#connecting .wrap {
	padding-top: 10rem;
	text-align: center;
	font-size: 2rem;
}

#message {
	width: 29rem;
	font-size: 2rem;
}
#send-message button {
	width: 9rem;
	height: 4rem;
}

#messages {
}
.line {
	margin: 1rem 0.4rem;
	padding: 1rem 0.4rem;
	border-radius: 0.8rem;
	box-shadow: 1px 2px 10px #B0D5FF;
}
.line .message-header {
	padding-bottom: 0.8rem;
}
.line .message-from {
	font-weight: bold;
	color: #00781E;
	padding-right: 2.0rem;
	font-size: 2rem;
}
.line .message-timestamp {
	color: #989898;
	font-weight: bold;
	font-size: 1.6rem;
}
.line .message-text {
	font-size: 2rem;
}
.type-error {
	background-color: #FFECE4;
}
.type-own {
	background-color: #F3FFF0;
}
.type-own .message-header {
	text-align: right;
}
.type-system {
	background-color: #FFECE4;
}
.type-private {
	background-color: #ECF3FF;
}

#face-list {
	background-color: #FFF;
	box-shadow: 1px 2px 10px #B0D5FF;
	display: none;
}
.face-img {
	padding: 0.8rem;
}
.sex-icon {
	max-height: 4rem;
	max-width: 4rem;
	float: right;
}

#menu {
	display: none;
	margin-top: 3rem;
}
#menu button {
	width: 19rem;
	height: 4.5rem;
	margin: 1rem 4.5rem;
}
