html { font-size: 62.5%;} 
body {
	/* width: 30rem; */
	margin: auto;
	font-size: 1.6rem;
}
/* 调试 */
@media screen and (min-width: 800px) {
	body {
		border: 0.1rem solid #0087A0;
		padding: 1rem;
		min-height: 50rem;
	}
}

#connecting .wrap {
	padding-top: 10rem;
	text-align: center;
	font-size: 2rem;
}

#message {
	width: 98%;
}
#messages {
	
}

.line {
	margin: 1rem 0.4rem;
	padding: 1rem 0.4rem;
	border-radius: 0.8rem;
	box-shadow: 0.1rem 0.2rem 1rem #B0D5FF;
}
.line .message-header {
	padding-bottom: 0.8rem;
}
.line .message-from {
	font-weight: bold;
	color: #00781E;
	padding-right: 2.0rem;
	font-size: 2rem;
}
.line .message-timestamp {
	color: #989898;
	font-weight: bold;
	font-size: 1.6rem;
}
.line .message-text {
	font-size: 2rem;
}
.type-error {
	background-color: #FFECE4;
}
.type-own {
	background-color: #F3FFF0;
}
.type-own .message-header {
	text-align: right;
}
.type-system {
	background-color: #FFECE4;
}
.type-private {
	background-color: #ECF3FF;
}

#face-list {
	background-color: #FFF;
}
.face-img {
	padding: 0.8rem;
}
.sex-icon {
	max-height: 4rem;
	max-width: 4rem;
	float: right;
}

#sendbar {
	position: fixed;
	bottom: 0px;
}